@font-face {
    font-family: $font-name;
    src: url("#{$font-base-url}.eot");
    src: url("#{$font-base-url}.eot?#iefix") format("embedded-opentype"),
         url("#{$font-base-url}.woff2") format("woff2"),
         url("#{$font-base-url}.woff") format("woff"),
         url("#{$font-base-url}.ttf") format("truetype"),
         url("#{$font-base-url}.svg##{$font-name}") format("svg");
}

@font-face {
    font-family: $font-tenor;
    src: url("#{$font-tenor-url}.eot");
    src: url("#{$font-tenor-url}.eot?#iefix") format("embedded-opentype"),
         url("#{$font-tenor-url}.woff2") format("woff2"),
         url("#{$font-tenor-url}.woff") format("woff"),
         url("#{$font-tenor-url}.ttf") format("truetype"),
         url("#{$font-tenor-url}.svg##{$font-tenor}") format("svg");
}

$fontText: "Tenor Sans";
$fontTextUrl: "https://db.onlinewebfonts.com/t/31703b2501da7c02920ea1c47959ba37";

$fontTitle: "Distillery Display W00 Regular";
$fontTitleUrl: "https://db.onlinewebfonts.com/t/abe9e9e44fb3d470e5ecd486b158ce78";

$bodydColor: #3498db;
$headerFooterColor: #2ecc71;
$textColor: #2c3e50;
$buttonColor: #e74c3c;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;